input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}


body {
    
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    vertical-align: top;
  }
  
  header{
    margin: auto;
    margin-bottom: -5px;
    width: 960px;
  }

.topnav {
    margin-top: 12px;
    overflow: hidden;
    background-color: #ffffff;
  }
.topnav ol {
  float: right;
}
.topnav li {
    display: inline-block;
    color: #858282;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


  .topnav li + li::before{
    content: " | ";
    padding: 0 10px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

footer{
    background-color: #666666;
    text-align: center;
}

.heading{
    float: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
    background-color:#4aaaa5;
    padding: 14px 16px;
    margin-bottom: -5px;
}

.index_div{ 
  border-top: solid #666666 2px;
  width: 100%;
  overflow: hidden;
  background-image: url('../images/mekong-green.png');
  margin-top: -2px;
}
.container {
  margin: auto;
  width: 960px;
  height: 100%;
}
iframe
{
  overflow: hidden;
  text-align: center;
  width: 960px;
  height: 100vh;
  /*min-height: 1280px;*/
}

#about div{
  width: 960px;
  padding: 5%;
  position: relative;
}
h1{
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
  float: left;
}

h2{
  color: #858282;
}


textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#about img{
  float: left;
  overflow: hidden;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

hr {
  display: block;
  position: relative;
  padding: 0;
  margin: 8px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 3px solid #aaaaaa;
  border-bottom: 1px solid #ffffff;
}

p {
  line-height: 200%;
}

.button{
  font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
    background-color:#4aaaa5;
    padding: 14px 16px;
}

.pimg {
  height: auto; 
  width: 300px; 
  max-width: 300px; 
  max-height: 300px;
}

.Table
{
  display: table;
}
.Row
{
  display: table-row;
}
.Cell
{
  display: table-cell;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}
.Cell span
{
  position: absolute;
  left: 10px;
  bottom: 5px;
  height: 40px;
  width: 300px;
  text-align: center;
  font-size: 24px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  overflow: hidden;
  color: white;
  background-color:#4aaaa5;
  line-height: 40px;
}

